@font-face {
  font-family: SantralRegular;
  src: url('../assets/fonts/Santral-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SantralMedium;
  src: url('../assets/fonts/Santral-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SantralSemiBold;
  src: url('../assets/fonts/Santral-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SantralBold;
  src: url('../assets/fonts/Santral-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SantralExtraBold;
  src: url('../assets/fonts/Santral-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
